# from https://github.com/AutoMapper/AutoMapper/blob/master/.gitignore
# from https://gist.github.com/davidfowl/ed7564297c61fe9ab814#gitignore

[Oo]bj/
[Bb]in/

.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store

.vs/

# JetBrains Rider
.idea/
*.sln.iml